div {
    height: 200px; /*content wala part height */ 
    width: 500px;  /*content wala part width */ 
background-color: rgb(211, 211, 39);
/* border-width: 5px;
border-style: solid;
border-color: blueviolet; */
border:5px solid rgb(15, 14, 16);
 /*border-left-color: blue;
border-left-style: dashed ; */
border-top:5px dashed blue ;
border-radius: 10px; /*radius  any sharp point convert to smooth point*/
padding-left: 10px; /*padding  between border and content*/
/*margin:20px; /*margin property*/
margin:10px 20px 30px;
}

h1{
   /* border-width: 2px;  for border in heading 
    border-style:dashed;
    border-color: aqua; */
    border:2px dashed aqua;
}
button{
    border:2px solid black;
    /*border-radius: 10px;
    padding-right:10px;
padding-left: 10px;*/
padding:10px; /*1 for all 4 sides
padding:1px 2px; /*top & bottom | left & right */
/*padding:1px 2px 3px 4px; /*top|right|bottom|left */
background-color: rgb(255, 162, 0);
margin: 20px;
}
